{% extends '../layouts/html.html' %}

{% block contents %}

    {#{% include "../../src/components/molecules/hero/hero.html" %}#}

    <section class="row text-center padded">
      <p class="lead"><strong>Did you know that</strong></p>
      <h2>Superdelegates</h2>
      <p class="lead"><strong>can steal our election?</strong></p>
    </section>
    
    <section class="row text-center padded bk-red bk-tone-btm">
      <h2 class="text-white">Don't let it happen</h2>
      <a href="#" class="btn btn-warning btn-lg">Sign Here!</a>
    </section>
    
    <section class="row section-states">
      <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <h3 id="delegates" class="text-center">State Superdelegates</h3>
        <div class="row">
          {% for state in collections.states %}
            {% if loop.first or loop.index == 20 or loop.index == 39 %}
              <div class="col-xs-12 col-sm-4">
                <div class="list-group">
            {% endif %}
              
              <a class="list-group-item" href="states/{{state.title|slug}}">{{state.title|safe}}</a>

            {% if loop.last or loop.index == 19 or loop.index == 38 %}
                </div>
              </div>
            {% endif %}
          {% endfor %}</div>
      </div>
    </section>
    
    <section class="row padded">
      <div class="col-xs-8 col-xs-offset-2">
        <p class="lead"><strong>Superdelegates:</strong></p>
        <p><span class="font-mono">(ˈso͞opərˌdeləɡət)</span> <em>n</em>: A nonelected delegate to a presidential nominating convention, usually an office-holder or influential party leader, who is not pledged to support any particular candidate.</p>
      </div>
    </section>

{% endblock %}
