{% extends '../layouts/html.html' %}

{% block contents %}

{% set clinton = 0 %}
{% set bernie = 0 %}
{% set total = 0 %}
{% set delegates = {} %}
{% for row, val in gSheets["Delegates"].rows %}
  {% if val.state == abbr or val.state == title %}

    {% set lastName = val.lastname|slug %}
    {% set delegates[lastName] = val %}

    {% set total += 1 %}
    {% if val.candidate|lower == "clinton" %}
      {% set clinton += 1 %}
    {% endif %}
    {% if val.candidate|lower == "bernie" %}
      {% set bernie += 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
{% set uncommitted = total - clinton - bernie %}

  <article>

    <section class="row padded bk-red bk-tone-btm text-center">
      <h1 class="stat-title">{{ title }}</h1>
      <p class="lead-plus">has {{ total }} Superdelegate{% if total != 1 %}s{% endif %}</p>
      {% if total > 0 %}
      <p>Tell them <em>not</em> to deny democracy - contact them now!</p>
      <br><br>
      <p class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">Below are our social media contacts for the Superdelegates where you live. Please contact them <strong>respectfully and politely</strong>, and ask them to not deny the wish of Democratic voters with their Superdelegate votes.</p>
      {% else %}
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <p>We are still developing our list of delegates, if you know something we don't please send us an email</p>
        <p class="text-center">
          <a href="mailto:{{ config.email }}" class="btn btn-warning btn-lg"><i class="fa fa-envelope"></i> Contact us</a>
        </p>
      </div>
      {% endif %}
    </section>
    
    {% if total > 0 %}
    <section class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center padded-sm">
        <p class="lead">This is a grassroots campaign - so we need grassroots leaders like you. If you’re interested in helping rally people where you live to make sure the Superdelegates do right, then please:</p>
        <p class="text-center">
          <a href="mailto:{{ config.email }}" class="btn btn-default btn-lg"><i class="fa fa-envelope"></i> Contact us</a>
        </p>
      </div>
    </section>

    <section id="delegate" class="row delegates-list padded bk-blue bk-tone-top">
      <div class="col-xs-12 centered-pills">

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#cards" aria-controls="cards" role="tab" data-toggle="tab"><i class="fa fa-th-large fa-lg"></i> Cards</a></li>
          <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab"><i class="fa fa-table fa-lg"></i> Table</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="cards">
            {% include "../../src/components/molecules/delegate_list/delegate_list.html" %}
          </div>
          <div role="tabpanel" class="tab-pane bk-white table-responsive" id="table">
            {% include "../../src/components/molecules/delegate_list/delegate_table.html" %}
          </div>
        </div>

      </div>
    </section>
    {% endif %}

    <section class="row section-states padded">
      <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <h3 id="delegates" class="text-center">Other Superdelegates</h3>
        <hr>
        {% include "../../src/components/molecules/state_list/state_list.html" %}
      </div>
    </section>
  </article>

{% endblock %}
