{% extends '../layouts/html.html' %}

{% block contents %}

{% set clinton = 0 %}
{% set bernie = 0 %}
{% set total = 0 %}
{% set delegates = {} %}
{% for row, val in gSheets["Delegates"].rows %}
  {% if val.state == abbr or val.state == title %}

    {% set lastName = val.lastname|slug %}
    {% set delegates[lastName] = val %}

    {% set total += 1 %}
    {% if val.candidate|lower == "clinton" %}
      {% set clinton += 1 %}
    {% endif %}
    {% if val.candidate|lower == "bernie" %}
      {% set bernie += 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
{% set uncommitted = total - clinton - bernie %}

  <article>

    <section class="row padded bk-red bk-tone-btm text-center">
      <h1>{{ title }}</h1>
      <p class="lead-plus">has {{ total }} Superdelegate{% if total != 1 %}s{% endif %}</p>
      <p>Tell them <em>not</em> to deny democracy - contact them now!</p>
      <hr>
      <p class="col-sm-10 col-sm-offest-1 col-md-6 col-md-offset-3">Below are our social media contacts for the Superdelegates where you live. Please contact them <strong>respectfully and politely</strong>, and ask them to not deny the wish of Democratic voters with their Superdelegate votes.</p>
    </section>
    
    {% if total > 0 %}
    <section id="delegate" class="row delegates-list padded bk-blue">
      <div class="col-xs-12">

        <!-- Nav tabs -->
        <div class="centered-pills">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#cards" aria-controls="cards" role="tab" data-toggle="tab"><i class="fa fa-th-large fa-lg"></i> Cards</a></li>
            <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab"><i class="fa fa-table fa-lg"></i> Table</a></li>
          </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="cards">
            {% include "../../src/components/molecules/delegate_list/delegate_list.html" %}
          </div>
          <div role="tabpanel" class="tab-pane bk-white table-responsive" id="table">
            {% include "../../src/components/molecules/delegate_list/delegate_table.html" %}
          </div>
        </div>

      </div>
    </section>
    {% endif %}

    <section class="row section-states padded">
      <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <h3 id="delegates" class="text-center">Other Superdelegates</h3>
        <hr>
        {% include "../../src/components/molecules/state_list/state_list.html" %}
      </div>
    </section>
  </article>

{% endblock %}
