.delegates-list{
  & > h2 { margin-bottom: 1em; }
  .delegate {
    margin-bottom: 2em;
    margin-top: 2em;
    border: 5px solid $blue;
    &.endorse-clinton .title {
      background-color: darken($blue,20%);
    }
    .title {
      background-color: black;
      border: 5px solid white;
      color: white;
      margin: -2em auto 1em;
      padding: 1em 0;
      text-align: center;
      width: 250px;
    }
    .del-social {
      a {
        .fa-circle {
          color: darken($yellow,30%);
        }
        &:hover .fa-circle {
          color: $yellow;
        }
      }
    }
    .del-contact {

    }
    .del-note {

    }
  }
}

