<footer class="footer padded bk-tone-btm">

  <ul class="nav navbar-nav footer-nav hide" role="menu">
    {% for navItem in navigation.footer %}
      {% include "../../atoms/footer_item/footer_item.html" %}
    {% endfor %}
  </ul>

  <div class="text-center">
    {% include "../../molecules/sharing/sharing.html" %}
  </div>

  <div class="footer-tier">

    <h1 class="text-center">{{ config.title }}</h1>

  </div>


  <div class="small-print text-center">
    <small><span class="copyright">&copy;</span><a href="{{ config.partners.prokick.url }}">{{ config.partners.prokick.name }}</a> &amp; <a href="{{ config.partners.readytofight.url }}">{{ config.partners.readytofight.name }}</a> // <a href="/contact"><i class="fa fa-envelope"></i> Contact us</a> // Design by <a href="http://radicle.vision/">Radicle Vision</a> // <a href="https://github.com/dhornbein/delegatescampaign">Source Code</a></small>
    </ul>
  </div>
</footer>
