.head-title {
  .subtitle {
  /* Superdelegates for: */
  transform: rotate(355deg);
  font-family: Arvo;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 43px;
  margin-bottom: 0;
  }

  .title {
  /* BERNIE SANDERS!: */
  transform: rotate(355deg);
  font-family: Bangers;
  font-size: 64px;
  color: #FFFFFF;
  line-height: 69px;
  text-shadow: -2px -2px 0px #1A6FAF;
  margin: 0 0 50px;
  }

  p {
    color:white;
    padding: 0 2em;
    font-size: 20px;
  }
}

.header-small {
  .head-title {
    .subtitle {
      font-size: 14px;
      margin-top: 0;
    }
    .title {
      font-size: 34px;
      line-height: 10px;
      margin-bottom: 20px;
    }
  }
}